# encoding: utf-8
!!! XML
!!!
%html
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %body
    %h1
      ="Houserule v. "+@version.to_s
    %h2
      Richiesta di reimpostazione della password per
      = @user.name
    %p
      Se leggi questa mail, vuol dire che hai dimenticato la password ed hai chiesto di reimpostarla.
      Se è vero clicca su questo link:
      = @user.reset_password_url
      Altrimenti, ignora questa mail.