="Benvenuto ad Houserule v. "+@version.to_s+", "+@user.name
============================================================
Se leggi questa mail, vuol dire che ti sei registrato con successo.
Grazie per esserti unito a noi, e visitaci qui:

=@url