=provide(:title, 'Creazione gruppo')
%h1 Nuovo gruppo d'interesse
%p
  Fornite il maggior numero di informazioni possibili. Il proprietario del gruppo ne fa automaticamente parte.


= render 'form'

= link_to 'Indietro', groups_path
