-if @user.errors.any?
  %div{:id => "error_explanation", :class=>"alert alert-error"}
    = @user.errors.count == 1 ? "Un errore non ha" : "#{@user.errors.count} errori non hanno"
    reso possibile il salvataggio
    %ul
    - @user.errors.full_messages.each do |msg|
      %li
        = msg
