-if @user.errors.any?
  %div{:id => "error_explanation", :class=>"alert alert-error"}
    =t('misc.errors', :count => @user.errors.count)
    %ul
    - @user.errors.full_messages.each do |msg|
      %li
        = msg
