%h1 House Rules
%h2 Un sito per la gestione delle partite tra amici
-if @events.any?
  %h3
    Ultimi
    = link_to 'eventi', events_path
  = render "shared/list_event"

%h5
  Il sistema contiene attualmente
  = @user_count
  utenti, e un totale di
  =@event_count
  eventi.

  Sito in fase di costruzione!

%h4 Azioni attualmente abilitate e testabili

%ul
  %li
    Gestione utente:
    =link_to 'Registra nuovo utente', new_user_path
    \|
    =link_to 'Login', login_path
  %li Aggiungere, modificare e cancellare un evento
  %li NEXT: Prenotazioni
%p



