%div
  %p{:class=>"center"}
    =link_to image_tag("large_logo.png", alt: "House Rule logo", id: "large logo")

%div
  %p
    %em Il sito per organizzare le tue partite (di giochi di simulazione, ruolo o altro) con i tuoi amici. Oppure al Club. Oppure online. Insomma, dove e quando ti pare!
  -unless signed_in?
    =link_to "Login", login_path, :class =>"btn btn-primary"
    oppure
    =link_to "Registrati", new_user_path, :class =>"btn btn-primary"

%div{:class =>"row"}
  %div{:class =>"span4"}
    %h2 Status
    %p
      %i{:class=>"icon-user", :title=>"Utenti"}
      = @user_count
      utenti registrati
      %br
      %i{:class=>"icon-calendar", :title=>"Eventi"}
      =@event_count
      eventi nel database, di cui
      %br
      %i{:class=>"icon-calendar", :title=>"Eventi"}
      =@not_yet_started_event_count
      non ancora iniziati
  %div{:class =>"span8"}
    -if @events.any?
      %h2  Prossimi eventi in partenza
      = render "shared/list_event", :events => @events , :show_organizer => true
      =link_to "Elenco completo eventi...", events_path, :class =>"btn"

%hr


%h4
  <span class="label">ALPHA</span>
%p
  Il sito è in fase di lavorazione, ma siamo "quasi pronti" alla release 0.1. Le funzionalità essenziali sono già
  funzionanti... siete quindi invitati a provarle! E per farci capire cosa non funziona o non vi piace, ci fareste un
  gran piacere lasciandoci un commento
  =link_to "in questa sondaggio gentilmente offerto da Google.", info_feedback_path
  %br
  Per ulteriori dettagli visitate
  =link_to "la pagina informativa del progetto", info_about_path

