%h1 House Rule

%div{:class =>"row"}
  %div{:class =>"span4"}
    %h2 Vuoi giocare?
    %p Questo sito &egrave; concepito per aiutarti a organizzare le partite con i tuoi amici, con il tuoo gruppo, eccetera..
    -unless signed_in?
      =link_to "Login", login_path, :class =>"btn btn-primary"
      oppure
      =link_to "Registrati", new_user_path, :class =>"btn btn-primary"
  %div{:class =>"span8"}
    -if @events.any?
      %h2  Ultimi eventi proposti
      = render "shared/list_event", :events => @events , :show_organizer => true
      =link_to "Elenco completo eventi...", events_path, :class =>"btn"

%hr


%div{:class =>"row"}
  %div{:class =>"span4"}
    %h3 Status
    %p
      Il sistema contiene attualmente
      = @user_count
      utenti, e un totale di
      =@event_count
      eventi.
  %div{:class =>"span8"}
    %h3 Attenzione!
    %p
      Come potete vedere, questo sito &egrave; in fase di costruzione. Siete invitati a provare e soprattutto indicare cosa non va!!
      In particolare, potete Registrarvi e Proporre un evento. Ora stiamo lavorando sulle prenotazioni degli eventi.
