%ul{:class=>"users"}
  -interests.each do |interest|
    -if (interest.is_visible  && !interest.is_banned)  || @group.user==current_user || interest.user==current_user
      %li{class:"no-bullet"}
        %span
          = gravatar_for interest.user, 24
          = link_to interest.user.name, edit_group_interest_path(@group,interest)
        %span
          -if interest.is_visible
            %i{class:"icon-eye-open", title:"visibile"}
          -if interest.is_banned
            %i{class:"icon-ban-circle", title:"bannato"}
          -if interest.gets_email
            %i{class:"icon-envelope", title:"email"}
