!!! XML
!!!
%html
  %head
    %meta{:content=>'text/html; charset=utf-8', :"http-equiv"=>'Content-Type'}
  %body
    %h3
      ="Nuovo evento"
    %p
      Con questa mail,
      =@user.name
      intende informati che organizza un nuovo evento, chiamato
      =@event.name

    %p
      %b Data e ora:
      - if @event.begins_at.nil?
        Non ancora stabilita (Non sono ancora possibili le prenotazioni)
      -else
        = l(@event.begins_at, :format => :long)
    %p
      %b Descrizione:
      =@event.description
    %p
      = link_to "Per ulteriori informazioni", @url
      - unless @event.begins_at.nil?
        (incluso la possibilità di prenotarti)
    %p Your House Rule Robot

    %h5
      House Rule è un sito gratuito per l'organizzazione di partite di varie tipologie di giochi.