!!! XML
!!!
%html
  %head
    %meta{:content=>'text/html; charset=utf-8', :"http-equiv"=>'Content-Type'}
  %body
    %h3
      ="Prenotazione cancellata"

    - if @admin.nil?
      %p
        Si segnala che
        %i
          =@user.name
        ha cancellato la sua prenotazione a
        ="''"+@event.name+"''"
    - else
      %p
        Si segnala che
        %i
          =@admin.name
        ha cancellato la prenotazione di
        %i
          =@user.name
        a
        ="''"+@event.name+"''"


    %p
      ="Il numero totale degli iscritti all'evento è attualmente "+@event.reservations.count.to_s + " (massimo previsto: "+@event.max_player_num.to_s+")"

    %p
      Puoi controllare il tuo evento andando
      = link_to "qui", @url
    %p Your House Rule Robot