!!! XML
!!!
%html
  %head
    %meta{:content=>'text/html; charset=utf-8', :"http-equiv"=>'Content-Type'}
  %body
    %h3<
      Messaggio da
      =@user.name
      relativo a
      =" '"+@event.name+"'"


      %p
        %i
          - if @text=="changed_date"
            L'evento in questione ha modificato la data, per cui tutte le prenotazioni e gli inviti
            sono stati annullati.
            -if @event.begins_at.nil?
              In particolare, l'evento ora non ha alcuna data fissata, per cui inviti e prenotazioni non sono possibili.
          -else
            =@text
      %p
        =@user.first_name_or_nick


    %p
      L'evento cui si fa riferimento è
      = link_to "questo", @url
    %p Your House Rule Robot

    %h5
      House Rule è un sito gratuito per l'organizzazione di partite di varie tipologie di giochi.