!!! XML
!!!
%html
  %head
    %meta{:content=>'text/html; charset=utf-8', :"http-equiv"=>'Content-Type'}
  %body
    %h3
      ="Prenotazione modificata"

    %p
      Si segnala che, per via di modifiche al numero di persone iscritte o alla struttura dell'evento,
      la tua prenotazione a
      ="''"+@event.name+"''"
      è adesso confermata.


    %p
      ="Il numero totale degli iscritti all'evento è attualmente "+@event.reservations.count.to_s + " (massimo previsto: "+@event.max_player_num.to_s+")"

    %p
      Puoi controllare il tuo evento andando
      = link_to "qui", @url
    %p Your House Rule Robot