// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hilite {
  text-decoration:underline;
  font-weight:bold; }

div.player
{
  margin:2px;
  border:1px solid #000000;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
}

img.player-icon
{
  display:inline;
  margin:2px;
  border:1px solid #ffffff;
  height: 64px;
  width: 64px;
}
.player-description
{
  text-align:center;
  font-weight:normal;
  width:100px;
  margin:2px;
}

a.nomargin
{
  padding-right:2px;
  padding-left:2px;
  padding-top:0px;
  padding-bottom:0px;
  margin-left: 2px;

}

#event_begins_at_3i, #event_begins_at_2i,  #event_begins_at_4i,  #event_begins_at_5i,
#event_deadline_3i, #event_deadline_2i,  #event_deadline_4i,  #event_deadline_5i
{
  width:75px;
}

#event_begins_at_1i,#event_deadline_1i
{
  width:100px;
}

#event_description {
  height: 100px
}