// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hilite {
  text-decoration:underline;
  font-weight:bold; }

div.player
{
  margin:2px;
  border:1px solid #000000;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
}

img.player-icon
{
  display:inline;
  margin:2px;
  border:1px solid #ffffff;
  height: 64px;
  width: 64px;
}
.player-description
{
  text-align:center;
  font-weight:normal;
  width:100px;
  margin:2px;
}