-if @event.errors.any?
  #error_explanation
    %h2
      = @event.errors.count == 1 ? "Un errore non ha" : "#{@event.errors.count} errori non hanno"
      reso possibile il salvataggio
    %ul
      - @event.errors.full_messages.each do |msg|
        %li= msg