=provide(:title, 'Collega evento')

%h1
  Collega evento al gruppo
  = '"'+@group.name+'"'

%h3
  Scegli tra gli eventi
  = "che organizzi" unless current_user == @group.user

= render "shared/list_event",  :events => @events ,:show_organizer => true, :group => @group, :add_link => true
