%h1 Che cos'&egrave; "House rule"
%p
  %b "House Rule"
  &egrave; un progetto che mira ad aiutare chiunque, ma in modo particolare i giocatori di giochi di simulazione e di ruolo,
  ad organizzare le proprie partite, avere un criterio di affidabilità, fornire feedback e, in prospettiva, molto di più

%h2
  Come è nato?
%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lorem leo, consectetur a vulputate in,
  ultrices a nunc. Nam lacinia, neque eget consectetur tempor, nisi est hendrerit est, at gravida tortor
  est nec orci. Suspendisse fermentum urna quis sem pulvinar non gravida eros laoreet. In facilisis pharetra lectus,
  ac sollicitudin augue facilisis sit amet. In eget dolor magna, eu vehicula magna. Praesent consectetur auctor orci,
  sit amet tempor lectus facilisis ut. Nunc in quam lacus. Sed posuere dictum lectus blandit consectetur.
  Phasellus ultricies dui ut velit scelerisque sit amet dapibus mauris placerat.
  Duis quis neque non neque venenatis euismod. In vel adipiscing nulla. Quisque vel ante at velit
  vestibulum ultrices a vitae lacus. Etiam ullamcorper mi sit amet risus condimentum nec venenatis nisl accumsan.
  Integer in nunc metus, non viverra enim. Integer est justo, scelerisque ac dictum a, rhoncus nec nibh.

%h2
  Chi collabora?

%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lorem leo, consectetur a vulputate in,
  ultrices a nunc. Nam lacinia, neque eget consectetur tempor, nisi est hendrerit est, at gravida tortor
  est nec orci. Suspendisse fermentum urna quis sem pulvinar non gravida eros laoreet. In facilisis pharetra lectus,
  ac sollicitudin augue facilisis sit amet. In eget dolor magna, eu vehicula magna. Praesent consectetur auctor orci,
  sit amet tempor lectus facilisis ut. Nunc in quam lacus. Sed posuere dictum lectus blandit consectetur.
  Phasellus ultricies dui ut velit scelerisque sit amet dapibus mauris placerat.
  Duis quis neque non neque venenatis euismod. In vel adipiscing nulla. Quisque vel ante at velit
  vestibulum ultrices a vitae lacus. Etiam ullamcorper mi sit amet risus condimentum nec venenatis nisl accumsan.
  Integer in nunc metus, non viverra enim. Integer est justo, scelerisque ac dictum a, rhoncus nec nibh.