%h1 Che cos'&egrave; "House rule"
%p
  %b "House Rule"
  &egrave; un progetto che mira ad aiutare chiunque, ma in modo particolare i giocatori di giochi di simulazione e di ruolo,
  ad organizzare le proprie partite, avere un criterio di affidabilità, fornire feedback e, in prospettiva, molto di più

%h2
  Come è nato?
%p
  L'idea di base è di Francesco "Jaramir" Gigli, al quale si deve l'impostazione generale del sistema. Dato che per una serie di motivi Cesco
  non ha più la possibilità di occuparsi del progetto, la direzione è di fatto passata nelle mani di Marcello "piffy" Missiroli
  che intende così riprendere le file di progetti simili (<a href ="https://sourceforge.net/projects/amberle/">SIC</a>, <a href="http://www.webinprogress.it/organiCon/">Organicon</a>)
  ma con impostazioni diverse
%h2
  Chi collabora?

%p
  Al momento gli sviluppatori attivi sono, appunto, Marcello 'piffy' Missiroli, coadiuvato da Song 'China' Zhu. Tra il gruppo di
  non programmatori (consulenti,tester, amici vari, collaboratori, annoveriamo
  Saverio 'sassa' Barbieri. , Francesco 'jaramir' Gigli, Lorenzo 'Lollo' Trenti, Federico 'Quelo' Gigliotti, Andrea 'Mechvigiak' Vigiak