%h1 Contatti
%p Il gruppo di House Rule &egrave; un gruppo ristretto di volontari che contribuiscono codice durante il tempo libero. Siamo pertanto sempre alla ricerca di nuove leve che possano contribuire al progetto. L'aiuto può avvenire a vari livelli:
%br
%ul
  %li
    %b Programmazione
  Una delle 'spinte' primarie del progetto è quella di essere una 'palestra' per chi volesse imparare e fale palestra in un nuovo
  linguaggio di prograzione (Ruby), una moderno framework (Rails), e una lunga serie di strumenti che facilitano lo sviluppo di applicazioni web.
  Tutti i partecipanti hanno iniziato da pochissimo a lavorare in questo ambiente, e i principianti sono pertanto accettati e
  benvoluti. Utilizziamo una metodologi di lavoro di tipo Agile, chiamata "Scrum", il cui scopo è mettere tutti a proprio agio - e speriamo di riuscirci.
  %li
    %b Testing
  Non esistono programmi privi di errori, e chiediamo quindi il vostro aiuto per trovare i nostri. Provate a usare il sito,
  Scovate errori e comunicateceli.
  %li
    %b Grafica
  Il sito attualmente in fase di lavorazione si appoggia fortemente al formato di twitter, per il semplice fatto che è facile da usare e pochi di noi sono
  veri esperti di grafica. Se voleste contribuire...

%h4
  Per tutto questo, ed altro ancora, contattare
  %a{:href=>"mailto:piffy@treemme.org"}
    Marcello Missiroli
