=<%provide(:title, 'Feedback')   %>
<h1>Sondaggio fornito da Google Forms</h1>
<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dHp0T2MzS3UtMGxmdDhWcGgybWZ1Y3c6MQ" width="760" height="2202" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>