=<%provide(:title, 'Feedback')   %>
<h1>Sondaggio fornito da Google Forms</h1>
<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dDNoNzl5UE41NVBLQWl1M29wSS1COVE6MQ" width="760" height="2549" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>