=provide(:title, 'Licenze')
%h1 Licenze
%p
  House Rule &egrave; un programma Open Source, per cui è opportuno indicare le licenze utilizzate.

%ul
  %li
    %b Licenza Contenuti del sito:
    %a{:href => "http://creativecommons.org/licenses/by-sa/3.0/deed.it" }
      Creative Common

  %li
    %b Licenze Codice
    %ol
      %li
        %a{:href => "http://www.gnu.org/licenses/old-licenses/gpl-2.0.html" }
          General Public License v.2
      %li
        %a{:href => "https://github.com/railstutorial/sample_app_2nd_ed/blob/master/LICENSE" }
          Licenza MIT e Beerware di "Ruby on rails tutorial" di Michael Hartl


